:root {
  --brand: #fff;
  --pagebg: #171717;
  --searchbg: rgba(37, 37, 37, 0.8);
}
html {
  font-size: 20px;
}
body {
  background: var(--pagebg);
  color: var(--brand);
}
.logo {
  img {
    height: 7rem;
  }
}
h1 {
  font-weight: 700;
  color: var(--brand);
  margin: 0;
}
.search {
  //   transition: all 0.4s ease;
  position: sticky;
  top: 20px;
  z-index: 1;
  width: 40%;
  margin: auto;
  img {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 60px;
    height: 80%;
    transform: translateY(-50%);
  }
  .form-control {
    padding: 0 1.5rem;
    color: var(--brand);
    border-radius: 50px;
    height: 3rem;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: var(--searchbg);
    border-width: 2px;
    border-color: #3d3d3d;
    &:focus {
      color: var(--brand);
      border-color: #3d3d3d;
      box-shadow: none;
    }
  }
}
.cards-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .card {
    flex: 0 0 18%;
    margin: 1rem 1%;
    border-radius: 1rem;
    border: none;
    background: #3d3d3d;
    overflow: hidden;
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover,
    &.active {
      transform: translateY(-4px);
      box-shadow: 0 0 16px black;
    }
    .card-body {
      background: #3d3d3d;
      padding: 1rem;
      color: var(--brand);
    }
    .card-title {
      margin-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: 400;
    }
    img {
      height: 15rem;
      object-fit: cover;
      object-position: top;
      background: #3d3d3d;
    }
    .release {
      color: #b9b9b9;
    }
  }
}

.load-more {
  text-align: center;
  img {
    height: 4rem;
  }
}
// Breakpoints

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .logo {
    img {
      height: 5rem;
    }
  }
  h1 {
    font-size: 2rem;
  }
  .cards-wrap {
    justify-content: space-between;
    .card {
      flex: 0 0 48%;
      margin: 1rem 0;
    }
  }
  .search {
    width: 100%;
  }
}
